@import "../libs/bootstrap/scss/functions";

$paletaA: #22577a;
$paletaB: #38a3a5;
$paletaC: #57cc99;
$paletaE: #ebffed;

$primary:   $paletaC;
$secondary: $paletaB;
$success:   $paletaC;
$light:     $paletaE;
$dark:      $paletaA;


$font-family-base: 'Montserrat', Arial, sans-serif !default;
$headings-font-family: 'Montserrat', serif !default;
$border-radius: 0.5rem;
$transition-base: all 0.3s ease-in-out;
$h5-font-size: 1.45rem;

@import "../libs/bootstrap/scss/variables";
@import "../libs/bootstrap/scss/mixins";
@import "../libs/bootstrap/scss/bootstrap";


.hover_card {
    transition: $transition-base;
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 15px 30px rgba(0,0,0,0.1) !important;
    }
}

.svg-contenedor {
  display: inline-block;
  vertical-align: middle;
}

.circulo-pulso {
  transform-origin: center;
  
  animation: expandir-y-desaparecer 2s ease-out infinite;
}
.equip-icon {
    height: 40px;      
    width: auto;      
    display: block;    
    margin-left: auto;
    margin-right: auto;
    fill: currentColor;
    transition: all 0.3s ease;
}


@keyframes expandir-y-desaparecer {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(4); 
    opacity: 0;        
  }
}