@import "libs/bootstrap/scss/functions";

$paletaA: #22577a;
$paletaB: #38a3a5;
$paletaC: #57cc99;
$paletaE: #ebffed;

// he cambiado la paleta de colores original de bootstrap
$primary: $paletaC;
$secondary: $paletaB;
$success: $paletaC;
$light: $paletaE;
$dark: $paletaA;

$font-family-base: 'Montserrat', Arial, sans-serif !default; // he cambiado las fuentes
$headings-font-family: 'Montserrat', serif !default;

$border-radius: 0.5rem; // modificando el border radius normal

$transition-base: all 0.3s ease-in-out; // para que las animaciones sean más rapidas

$h5-font-size: 1.45rem; //de base es 1.5

@import "libs/bootstrap/scss/bootstrap";
